<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team">

    <application>
        <activity
            android:name=".teamActivity"
            android:exported="false"
            android:label="@string/title_activity_team"
            android:theme="@style/Theme.Tournament.NoActionBar" />
    </application>

</manifest>